node_modules/
build/
src/bin/
src/obj/
src/.vs/
bright-ctypes/bin/
bright-ctypes/obj/
bright-ctypes/.vs/
*.log
*.pdb
*.ipdb
*.iobj
*.exp
*.lib
*.node
*.recipe
*.lastbuildstate
*.tlog
.DS_Store
Thumbs.db
