// place your custom styles here

html,
body {
  min-height: 100%;
  background: #717377;
}

#app,
.theme-container,
.vp-page,
.vp-project-home {
  background: transparent;
}

#app {
  position: relative;
  min-height: 100vh;
}

.theme-container {
  position: relative;
  z-index: 1;
  background: transparent;
}

.vp-nav-logo {
  height: 4.5rem;
}

.vp-site-name {
  display: none;
}

.vp-nav-item .route-link-active,
.vp-nav-item .route-link-exact-active,
.vp-nav-item .auto-link.route-link-active,
.vp-nav-item .auto-link.route-link-exact-active {
  color: #70a0ff;
  border-bottom-color: #70a0ff;
}

.vp-nav-item .route-link-active::before,
.vp-nav-item .route-link-active::after,
.vp-nav-item .route-link-exact-active::before,
.vp-nav-item .route-link-exact-active::after,
.vp-nav-item .auto-link.route-link-active::before,
.vp-nav-item .auto-link.route-link-active::after,
.vp-nav-item .auto-link.route-link-exact-active::before,
.vp-nav-item .auto-link.route-link-exact-active::after {
  background: #70a0ff;
  border-color: #70a0ff;
}

.vp-sidebar a.active,
.vp-sidebar .active > a,
.vp-sidebar .router-link-active,
.vp-sidebar .router-link-exact-active {
  color: inherit;
  background: transparent;
  background-color: #2062e759;
}

.vp-project-home {
  min-height: calc(90vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
